[**Documentation**](../../../README.md)

***

[Documentation](../../../README.md) / [@texaryn/core](../README.md) / ValidationResult

# Interface: ValidationResult

## Properties

### errors

> **errors**: [`ValidationError`](ValidationError.md)[]

***

### valid

> **valid**: `boolean`
